/* @font-face {
    font-family: MyFont;
    src: url(http://localhost/giatlaravel/public/assets/font/arial.ttf);
} */

body.cetak {
    background: rgb(204,204,204); 
    /* font-family: MyFont; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
    /* width: 21cm; */
    width: 34cm;
    /* height: 29.7cm;  */
}

/* .ttdkiri {
    padding-top: 12vh;
} */

/* .ttdkanan {
    padding-top: 21vh;
} */

@media print {
    body, page {
    /* font-family: MyFont !important; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-shadow: 0;
    font-size: 17px;
    }

    page[size="A4"] {  
        width: 100%;
        /* height: 29.7cm;  */
        height: 29.2cm; 
    }

    /* .ttdkiri {
        padding-top: 6vh;
    } */

    /* .ttdkanan {
        position: absolute;
        left: 12px;
        top: 50px;
        z-index: -1;
        padding-top: 9.9vh;
    } */
}

td {
    vertical-align: top;
}

table.firstTable {
    border-collapse: collapse;
    margin: 20px 0;
}
.firstTable th {
    text-align: center;
}
.firstTable th, .firstTable td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 6px;
}